/*custom fonts downloaded from internet */
@font-face {
	font-family: 'Mono';
	src: url('fonts/3608-mono-web.woff2') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Webfont';
	src: url('fonts/000webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Basiic';
	src: url('fonts/basiic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AmigaTopaz';
	src: url('fonts/amiga-topaz.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Vercetti';
	src: url('fonts/Vercetti-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Picnic';
	src: url('fonts/PicNic-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Setting open sans for body font */
body {
	background-color: #fff2e4;
	font-family: 'Basiic';
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

/* Setting custom fonts for h1 and description */
header {
	text-align: center;
	padding: 20px;
	color: black;
	width: 100%;
}

header h1 {
	font-family: 'Picnic', sans-serif;
	font-size: 70px;
	font-weight: 400;
	margin: 0;
}

header p {
	font-family: 'Basiic', monospace;
	font-size: 25px;
	font-weight: 400;
}

/*Main content styling */
main {
	display: flex;
	padding: 20px;
	width: 100%;
	max-width: 1200px;
	flex-direction: column;
	align-items: center;
	background-color: #c4dcbb;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px 0;
}

.upload-section, .results-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
input[type="file"] {
	display: none;
}
/*
input[type="file"] {
	margin: 20px 0;
}
*/

#uploadLabel {
	font-family: 'Basiic', monospace;
	font-size: 20px;
	padding: 10px 20px;
	background-color: bisque;
	color: black;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

#uploadLabel:hover {
	background-color: #61934b;
}

button {
	padding: 10px 20px;
	background-color: bisque;
	color: black;
	border: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 20px;
	font-family: 'Basiic', sans-serif;
}

button:hover {
	background-color: #61934b;
}

/* Result section styling */
.result-section {
	text-align: center;
}

.error-message {
	color: #4c1130;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#errorMessage {
	color: #4c1130;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #61934b;
	font-family: "Basiic", monospace;
	text-align: center;
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	font-family: 'AmigaTopaz', monospace;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
}

#result-section {
	overflow: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

#result {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	padding: 20px;
	text-align: center;
}

#result img {
	border-radius: 10px;
	width: 200px;
	margin: 10px;
	display: inline-block;
}

#exportButton {
	margin-top: 20px auto;
}